{{outlet}}
<h1> Genres </h1>
{{#each model.genre as |item|}} 
	<br>
Name:	{{item.name}}
	<br>
Create_Date:	{{item.create_date}}
<hr>
{{/each}}
<br>
<br>
<br>
<br>
<form class="form-horizontal" name="genreForm">  
  <div class="form-group">
    <label for="name" class="col-md-2 control-label">Genre Name</label>
    <div class="col-md-5">
      {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button {{action "submit"}} class="btn btn-sm btn-primary">Save</button>
   </div>
 </div>
</form> 